@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

body {
    margin: 10% 10%;
    background-image: url("https://i.imgur.com/jS4mMbM.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    /*background-position: center center;*/

}

@supports (display: grid) {
    .outer-div {
        display: grid;
        position: center;
        align-content: space-evenly;
        align-items: center;
        vertical-align: middle;
    }

    .grid-container {
        display: inline-grid;
        position: center;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-row-gap: 30%;
        /*grid-column-gap: 50%;*/
        justify-items: center;
        align-items: center;
        align-content: space-evenly;

    }

    .spacer {
        display: none;
    }

    .outer-div-blocks .button-3 {
        display: inline-block;
        text-align: center;
        margin-bottom: 2rem;
    }

    .home-button {
        display: inline-block;
        text-align: center;
    }

    .home-button .button-3 {
        line-height: .25;
    }

    .outer-div-blocks {
        display: inline-block;
        text-align: center;
        margin: auto;
        /*width: 100%;*/
        padding: 10px;
    }

    .float-left-class {
        text-align: center;
        float: left;
        margin-right: 1rem;
    }
}

@supports not (display: grid) {
    .outer-div .spacer {
        font-size: 1rem;
    }

    .outer-div {
        column-count: 2;
        align-items: center;
        justify-items: center;
        align-content: center;
    }
}

footer {
    position: absolute;
    bottom: 2rem;
    height: 2rem;
}

#footer {
    font-family: 'Comfortaa', cursive;
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}